.formCalc__body {
    background-color: rgb(231, 231, 231, 25%);
    background-position: center;
    margin: auto;
    box-shadow: 0px 0px 10px -2px rgb(0, 0, 0);
    border-radius: 15px;
    padding: 0 20px;
    max-width: 700px;
    vertical-align: middle;
    color: rgb(0, 0, 0);
    border: 2px solid rgb(158, 152, 152);
    list-style: none;
    font-size: 13px;
    line-height: 1.5;
}

.formCalc__header {
    background-color: rgb(231, 231, 231, 25%);
    margin: 20px auto;
    box-shadow: 0px 0px 10px -2px rgb(0, 0, 0);
    border-radius: 15px;
    padding: 20px;
    max-width: 700px;
    vertical-align: middle;
    color: rgb(255, 159, 32);
    text-shadow: 0px 0px 5px 3px darkgrey;
    border: 2px solid rgb(158, 152, 152);
    list-style: none;
    font-size: 20px;
    text-align: center;
}

.formCalc__fieldset {
    margin: 0 auto;
    padding: 0 20px;
    max-width: 700px;
    border: none;
    text-align: middle;
}

.formCalc__shell {
    text-align: center;
}

.formCalc__legend {
    padding: 15px;
    font-size: 20px;
    color: rgb(255, 255, 255);
    background-color: rgba(255, 138, 43, 0.801);
}

.formCalc__button {
    max-width: auto;
    margin: 5px;
    padding: 10px;
    background-color: rgba(255, 138, 43, 0.801);
    color: rgb(255, 255, 255);
    border: 1px solid rgba(255, 138, 43, 0.801);
}